<!--<html>
<head>
    <title>CrimeMap</title>
</head>
<body>
    <h1>Crime Map</h1>
    <form action="/add" method="POST">
        <input type="text" name="userinput">
        <input type="submit" value="Submit">
    </form>
    <a href="/clear">clear</a>{% for userinput in data %}
    <p>{{userinput}}</p>
    {% endfor %}
</body>
</html>-->
<html>
    <head>
        <title>CrimeMap</title>
        <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js'></script>
        <script type="text/javascript">
        function initialize() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPosition);
            } else {
                console.log('Geolocation is not supported by browser');
            }
        }
        function getPosition(position) {
            initializeMap(position);
        }
        function initializeMap(Geolocation) {
            var lat = Geolocation.coords.latitude;
            var long = Geolocation.coords.longitude;
            var loc = new google.maps.LatLng(lat,long);
            var mapOptions = {
                center: loc,
                zoom: 15
            }
            var map = new google.maps.Map(document.getElementById('map'),mapOptions);
            var cmarker = new google.maps.Marker({
                position: loc,
                animation: google.maps.Animation.DROP,
                map: map,
                icon: 'https://i.stack.imgur.com/VpVF8.png'
            });
            google.maps.event.addListener(map, 'click',function(event){
                placeMarker(event.latLng);
                });
            function placeMarker(pos) {
            var marker = new google.maps.Marker({
                position: pos,
                map: map
            });
        }
        }
        </script>
        <style>
            #map {
                width: 80%;
                height: 600px;
            }
        </style>
    </head>
    <body onload="initialize()">
        <div id='map'></div>
    </body>
</html>