<!--<html>
<head>
    <title>CrimeMap</title>
</head>
<body>
    <h1>Crime Map</h1>
    <form action="/add" method="POST">
        <input type="text" name="userinput">
        <input type="submit" value="Submit">
    </form>
    <a href="/clear">clear</a>{% for userinput in data %}
    <p>{{userinput}}</p>
    {% endfor %}
</body>
</html>-->
<html>
    <head>
        <title>CrimeMap</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}" />
        <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js'></script>
        <script type="text/javascript">
        var map;
        var marker;
        function setCrimes(crimes) {
            if(crimes != null) {
                for(var i = 0;i<crimes.length;i++){
                pos = new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude);
                crime = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: crimes[i].date +'\n' + crimes[i].category + '\n' + crimes[i].description
                });
            }
            }
        }
        function initialize() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPosition);
            } else {
                console.log('Geolocation is not supported by browser');
            }
        }
        function getPosition(position) {
            initializeMap(position);
        }
        function initializeMap(Geolocation) {
            var lat = Geolocation.coords.latitude;
            var long = Geolocation.coords.longitude;
            var loc = new google.maps.LatLng(lat,long);
            var mapOptions = {
                center: loc,
                zoom: 15
            }
            map = new google.maps.Map(document.getElementById('map'),mapOptions);
            var cmarker = new google.maps.Marker({
                position: loc,
                animation: google.maps.Animation.DROP,
                map: map,
                icon: 'https://i.stack.imgur.com/VpVF8.png'
            });
            google.maps.event.addListener(map, 'click',function(event){
                placeMarker(event.latLng);
                });
            setCrimes({{ data | safe}});
            function placeMarker(pos) {
                if (marker) {
                    marker.setPosition(pos);
                }
                else {
                    marker = new google.maps.Marker({
                        position: pos,
                        map: map
                        });
                    }
                document.getElementById('latitude').value = pos.lat();
                document.getElementById('longitude').value = pos.lng();
                }
            }
        </script>
    </head>
    <body onload="initialize()">
        <h1>CrimeMap</h1>
        <p>A map of recent criminal activity.</p>
        <div id='map'></div>
        <div id="newcrimeform">
            <h2>Submit new crime</h2>
            <form action="/submitcrime" method="POST">
            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="mugging">Mugging</option>
                <option value="breakin">Break-in</option>
            </select>
            <label for="date">Date</label>
            <input name="date" id="date" type="date">
            <label for="latitude">Latitude</label>
            <input name="latitude" id="latitude" type="text">
            <label for="longitude">Longitude</label>
            <input name="longitude" id="longitude" type="text">
            <label for="description">Description</label>
            <textarea name="description" id="description" placeholder="A brief but detailed description of the crime"></textarea>
            <input type="submit" value="Submit">
            </form>
            </div>
    </body>
</html>